/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    flex-direction: column;
    height: 334px;
    min-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}

header img {
    height: 24px;
    margin-top: 60px;
    width: 150px;
}

.header--title-container {
    height: 218px;
    min-width: 288px;
    margin-top: 50px;
    max-width: 900px;
    width: 90%;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.header--title-container p {
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 24px;
}

.header--button {
    position: absolute;
    align-items: center;
    display: flex;
    gap: 8px;
    height: 48px;
    justify-content: center;
    padding: 12px 16px;
    left: calc(50% - 114.5px);
    top: calc(100% - 24px);
    width: 229px;
    /* Texto*/
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    /* Visual */
    background-color: #FAF8F7;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-decoration: none;
}

.header--button span {
    background-image: url('./assets/icons/down-arrow.svg');
    height: 7.4px;
    width: 12px;
}

.exchange {
    background-color: var(--off-white);
    height: auto;
    padding: 59px 0;
    width: 100%;
}

.exchange-background {
    background: url('./assets/imgs/Bitcoin.svg') center/cover no-repeat;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.exchange-text {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    text-align: center;
    width: 90%;
}

.exchange-text--title {
    color: var(--warm-black);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 24px;
}

.exchange-text--paragraph {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.exchange-tables {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.table-top__left {
    border-radius: 15px 0 0 0;
}

.table-top__right {
    border-radius: 0 15px 0 0;
}

.table-down__left {
    border-radius: 0 0 15px 0;
}

.table-down__right {
    border-radius: 0 0 0 15px;
}

.currency-table-container, .commissions-table-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
    max-width: 300px;
    width: 75%;
}

.currency-table, .commissions-table {
    width: 100%;
}

.currency-table--title, .commissions-table--title {
    align-self: flex-start;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.currency-table--title {
    color: #ff9536;
}

.commissions-table--title {
    color: var(--secondary-blue);
}

.currency-table--coin, .commissions-table--coin {
    background-color: var(--just-white);
    color: #b5b0AC;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 10px 12px;
    width: 50%;
}

.currency-table--price, .commissions-table--price {
    background-color: var(--just-white);
    color: #757575;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    padding: 11px 12px;
    text-align: center;
    width: 50%;
}

.trending-up, .trending-down {
    display: inline-block;
    height: 15px;
    margin-left: 15px;
    width: 15px;
}

.trending-up {
    background: url('./assets/icons/trending-up.svg') center/cover no-repeat;
}

.trending-down {
    background: url('./assets/icons/trending-down.svg') center/cover no-repeat;
}

.currency-table--date, .commissions-table--date {
    color: var(--warm-black);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 8px;
}

.currency-table--date {
    background-color: var(--soft-orange);
}

.commissions-table--date {
    background-color: var(--soft-blue);
}

.benefits {
    background-color: var(--black);
    position: relative;
    padding: 64px 0;
}

.benefits--icon {
    position: absolute;
    background: url('./assets/icons/batata.svg') center/cover no-repeat;
    height: 24px;
    left: calc(50% - 19px);
    top: -13px;
    width: 38px;
}

.benefits-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

.benefits-text--title {
    color: var(--just-white);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
}

.benefits-text--paragraph {
    color: #808080;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
}

.benefits-cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    width: 90%;
}

.benefit--card{
    align-items: flex-start;
    background-color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.016);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    max-width: 300px;
}

.benefit--card-icon {
    color: var(--bitcoin-orange);
    height: 20px;
    width: 20px;
}

.clock {
    background: url('./assets/icons/clock.svg') center/cover no-repeat;
}

.eye {
    background: url('./assets/icons/eye.svg') center/cover no-repeat;
}

.dollar {
    background: url('./assets/icons/dollar-sign.svg') center/cover no-repeat;
}

.check {
    background: url('./assets/icons/check-circle.svg') center/cover no-repeat;
}

.benefit--card-title {
    color: var(--just-white);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
}

.benefit--card-paragraph {
    color: #808080;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
}